.shape {
  display: grid;
  place-content: center;
  place-items: center;
  font-size: 70%;
  cursor: pointer;
  user-select: none;
  z-index: -1;
}

.shape_container {
  position: absolute;
  display: grid;
  place-content: center;
  place-items: center;
  min-width: 5rem;
  min-height: 5rem;
  width: max-content;
  height: max-content;
  background-color: hsl(0, 0%, 0%, 0);
  transition: 0.4s ease background-color;
  border-radius: 0.5rem;
  z-index: 10;
  overflow: hidden;
}

.shape__btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border: 0;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 0.25rem;
  background-color: hsl(0, 0%, 0%, 0);
  opacity: 0;
  transition: 0.4s ease;
  color: white;
  font-size: 1.1rem;
  z-index: 13;
}

.shape_container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsl(0, 0%, 0%, 0.3);
  opacity: 0;
  transition: 0.4s ease;
  z-index: 11;
}

.shape_container:hover::before {
  opacity: 1;
  transition: 0.4s ease;
}

.shape_container:hover > .shape__btn {
  opacity: 1;
  transition: 0.4s ease;
}

.shape__btn:hover {
  background-color: hsl(0, 0%, 100%, 0.3);
}
