.modal {
  position: absolute;
  inset: 0;
  z-index: 100;
  background: hsl(0, 0%, 0%, 0.4);
  display: grid;
  place-content: center;
  place-items: center;
}

.modal__container {
  width: 21svw;
  height: 50svh;
  background-color: hsl(0, 0%, 100%, 1);
  border-radius: 0.75rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.modal__container > label {
  font-size: 0.9rem;
  opacity: 0.9;
  margin: 0.5rem 0 0.2rem;
}

.modal__container > input {
  height: 1.75rem;
  border-radius: 0.4rem;
  border: 0.13rem solid hsl(0, 0%, 80%);
}

.modal__container > button {
  width: max-content;
  margin: 0.5rem 0 0;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0.05rem 0.1rem 0.4rem hsl(0, 0%, 0%, 0.3);
  transition: 0.4s ease;
}

.modal__container > button:hover {
  background-color: hsl(210, 100%, 60%);
  color: white;
  box-shadow: 0.05rem 0.1rem 0.4rem hsl(210, 100%, 50%, 0.6);
  transition: 0.4s ease;
}

h2 {
  margin: 0.5rem 0;
  text-align: center;
}

.tp-selector {
  width: 100%;
  height: 2.5rem;
  background-color: hsl(0, 0%, 93%);
  box-shadow: inset -0.2rem -0.2rem 0.3rem hsl(0, 0%, 0%, 0.05);
  border-radius: 0.5rem;
  display: grid;
  place-content: center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.tp-selector > span {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 50%;
  height: 2rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.4rem;
  box-shadow: 0.1rem 0.1rem 0.2rem hsl(0, 0%, 0%, 0.1);
  transition: 0.4s ease;
}

.tp-selector__item {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
