header {
  position: absolute;
  z-index: 0;
  top: 1rem;
  width: 100%;
  text-align: center;
  font-size: 2.75rem;
  font-weight: 900;
  opacity: 0.35;
  user-select: none;
}

.add-button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  background: hsl(0, 0%, 98%);
  border: 0;
  border-radius: 0.75rem;
  box-shadow: 0.05rem 0.1rem 0.4rem hsl(0, 0%, 0%, 0.3);
  font-size: 1.5rem;
  transition: 0.4s ease;
}

.add-button:hover {
  background: hsl(0, 0%, 95%);
  transition: 0.4s ease;
}

.shapes-box {
  display: grid;
  place-content: center;
  width: 100svw;
  height: 100svh;
}

.placeholder {
  font-weight: 500;
  font-size: 1.5rem;
}
